In [5]:
import os
print(os.listdir('/workspaces/-_ETF_Analysis_with_pandas/data'))

['datamap.csv']

In [7]:
import pandas as pd 
data = pd.read_csv('/workspaces/-_ETF_Analysis_with_pandas/data/datamap.csv')
print(data)

     No.          종목코드                 종목명         수량(주)     평가금액(원)  비중(%)
0      1  US5949181045           MICROSOFT  1.843100e+02   100984582  7.16%
1      2  US0378331005           APPLE INC  3.625600e+02    88970944  6.31%
2      3  US67066G1040              NVIDIA  6.124000e+01    64016669  4.54%
3      4  US0231351067      Amazon.com Inc  2.255300e+02    52405499  3.72%
4      5  US30303M1027  META PLATFORMS Inc  5.503000e+01    35606557  2.52%
..   ...           ...                 ...           ...         ...    ...
499  500  US9182041080             VF Corp  8.210000e+00      173747  0.01%
500  501  US92556H2067       ViacomCBS Inc  1.198000e+01      186720  0.01%
501  502  US9633201069      WHIRLPOOL CORP  1.370000e+00      203262  0.01%
502  503  US9897011071    Zions Bancorp NA  3.670000e+00      193681  0.01%
503  504  CASH00000001           100%현금설정액  1.410367e+09  1410367445

[504 rows x 6 columns]

In [12]:
data.columns = ['index1', 'code', 'company_name', 'quantity', 'inf_price', 'percent']

In [13]:
data.columns

Index(['index1', 'code', 'company_name', 'quantity', 'inf_price', 'percent'], dtype='object')

In [14]:
data.head()

   index1          code        company_name  quantity  inf_price percent
0       1  US5949181045           MICROSOFT    184.31  100984582   7.16%
1       2  US0378331005           APPLE INC    362.56   88970944   6.31%
2       3  US67066G1040              NVIDIA     61.24   64016669   4.54%
3       4  US0231351067      Amazon.com Inc    225.53   52405499   3.72%
4       5  US30303M1027  META PLATFORMS Inc     55.03   35606557   2.52%

In [15]:
data = data.drop('index1', axis=1)

In [16]:
data

             code        company_name      quantity   inf_price percent
0    US5949181045           MICROSOFT  1.843100e+02   100984582   7.16%
1    US0378331005           APPLE INC  3.625600e+02    88970944   6.31%
2    US67066G1040              NVIDIA  6.124000e+01    64016669   4.54%
3    US0231351067      Amazon.com Inc  2.255300e+02    52405499   3.72%
4    US30303M1027  META PLATFORMS Inc  5.503000e+01    35606557   2.52%
..            ...                 ...           ...         ...     ...
499  US9182041080             VF Corp  8.210000e+00      173747   0.01%
500  US92556H2067       ViacomCBS Inc  1.198000e+01      186720   0.01%
501  US9633201069      WHIRLPOOL CORP  1.370000e+00      203262   0.01%
502  US9897011071    Zions Bancorp NA  3.670000e+00      193681   0.01%
503  CASH00000001           100%현금설정액  1.410367e+09  1410367445

[504 rows x 5 columns]

In [27]:
print(1.410367e+09)

1410367000.0

In [26]:
def exchager(x):
    data = str(x)
    print(data.split('.'))
    # sliced = data.split('.')[0] + '.' + str.split('.')[1][:2]
    return None

print(exchager(1.410367e+09))

['1410367000', '0']
None

In [29]:
data[data['inf_price'] == data['inf_price'].max()]

             code company_name      quantity   inf_price percent
503  CASH00000001    100%현금설정액  1.410367e+09  1410367445

In [32]:
data = data.drop(index=503)

In [33]:
data[data['inf_price'] == data['inf_price'].max()]

           code company_name  quantity  inf_price percent
0  US5949181045    MICROSOFT    184.31  100984582   7.16%